/* Set the background color of the window */
.root {
    -fx-background-color: #ecf0f3;
}

/* Style for the button */
.button-style {
    -fx-background-color: #20c997;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
}

/* Add hover effect for the button */
.button-style:hover {
    -fx-background-color: #17a589;
}
